.error {color: red;}
.showbold { font-weight: bold; }
.show-green { color: green; }
.show-orange { color: orange; }
.show-red { color: red; }

.ui-widget-header .ui-icon {  /* css for date control */
  background-image: url(../images/ui-icons_444444_256x240.png) !important;
}